@{
    ViewData["Title"] = "Amigo da Escola";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Amigo da Escola</h1>
    <p>Amigo da Escola é uma ferramenta para ajudar o acompanhamento de Alunos e Professores</p>
</div>

<div class="container">
    <div class="row g-2">
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h1>Cadastre Lunos</h1>
                <p>Cadastre alunos para ter informaçõe sobre o aluno assim como:</p>
                <ul>
                    <li>Endereço</li>
                    <li>Telefone</li>
                    <li>Pais ou Responsáveis</li>
                    <li>Histórico</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h1>Registro de Notas Para Alunos</h1>
                <p>Registre as notas e tenha um acompanhamento como:</p>
                <ul>
                    <li>Calculo de média</li>
                    <li>Resultado altomatico</li>
                    <li>Monitora alunos com notas baixas</li>
                    <li>Verificação de matérias que precisão de mais atenção</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h1>Cadastro de Professores</h1>
                <p>Cadastre professores para ter informaçõe sobre o professor assim como:</p>
                <ul>
                    <li>Endereço</li>
                    <li>Telefone</li>
                    <li>Contatos</li>
                    <li>Histórico</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h1>Controle Financeiro</h1>
                <p>Registros financeiros como:</p>
                <ul>
                    <li>Contas a Pagar</li>
                    <li>Contas a Receber</li>
                    <li>Controle de Vencimentos</li>
                    <li>Calculo de Juros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
